/* BlogPage.css */

.blog-section {
    display: flex; /* Cambiado a flex para facilitar la alineación de elementos en columna */
    flex-direction: column; /* Alinea los elementos en columna */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Espacio entre los elementos */
}

.blog-entry {
    align-items: flex-start; /* Alinea el contenido al inicio (izquierda) */
    background: none;
    border: none;
    padding: 10px;
    border-radius: 0;
}

.blog-entry img {
    width: 50%; /* La imagen ahora ocupa solo el 50% del ancho del contenedor */
    height: auto; /* Altura auto para mantener proporciones */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
}

.blog-entry h3 {
    font-size: 1.3em; /* Aumenta el tamaño de fuente en un 30% para los títulos */
    margin: 0 0 10px 0; /* Agrega espaciado debajo del título */
}

.blog-entry p {
    font-size: 1.3em; /* Aumenta el tamaño de fuente en un 30% para los párrafos */
    margin: 0 0 10px 0; /* Agrega espaciado debajo del párrafo */
}

.blog-entry .btn-contact {
    /* Estilos existentes */
    font-size: 1.3em; /* Opcionalmente, aumenta el tamaño del texto del botón si es necesario */
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Estilos existentes para dispositivos móviles */
    .blog-entry img {
        width: 100%; /* Asegura que la imagen se ajuste al contenedor en móviles */
    }
    .blog-entry h3,
    .blog-entry p {
        font-size: 1em; /* Puedes ajustar el tamaño de la fuente en móviles si se ve demasiado grande */
    }
}