.home-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.home-main {
    display: flex;
    align-items: center; /* Asegura alineación vertical */
    justify-content: space-around; /* Asegura espacio alrededor de los elementos */
    padding: 50px 0;
}

.home-hero {
    width: 80%; /* Ajusta el ancho al 70% */
    text-align: left;
    padding: 0 60px; /* Espacio horizontal */
}

.home-hero img {
    width: 100%; /* La imagen ocupa el 100% del contenedor .home-hero */
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.home-hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-hero p {
    margin-bottom: 20px;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px; /* Espacio debajo del botón */
    cursor: pointer;
    text-align: left;
}

/* Responsive design */
@media (max-width: 768px) {
    .home-main {
        flex-direction: column; /* Apila elementos verticalmente */
        padding: 20px;
    }

    .home-hero {
        width: 100%; /* El contenido ocupa todo el ancho */
    }

    .home-hero img {
        width: auto; /* La imagen retoma su tamaño automático */
        margin-bottom: 20px;
    }

    .home-hero h1 {
        font-size: 1.5em;
    }

    .btn-primary {
        display: block; /* Asegura que el botón se muestra en su propia línea */
        margin-top: 10px; /* Espacio arriba del botón */
    }
}
