.home-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.home-main {
    display: flex;
    align-items: center;
    justify-content: center; /* Cambiado para centrar el contenido */
    padding: 50px 0;
}

.home-hero {
    width: 100%; /* Se mantiene al 100% para llenar el espacio */
    padding: 0; /* Ajusta según sea necesario */
}

.home-hero img {
    width: 70%; /* Reducido al 70% del contenedor .home-hero */
    max-width: none; /* Elimina cualquier restricción de max-width */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    margin-bottom: 20px;
}

.home-hero h1,
.home-hero p {
    text-align: justify; /* Asegura que el texto esté justificado */
    color: #000; /* Texto en color negro normal */
    font-weight: normal; /* Asegura que el texto no esté en negrita */
    margin-bottom: 20px;
}
.btn-container {
    text-align: center; /* Centra el contenido inline o inline-block */
    width: 100%; /* Ocupa el ancho total para permitir centrado */
    margin-top: 20px;
}

/* Ahora, no necesitas definir margin para .btn-primary para el centrado */
.btn-primary {
    background-color: #948e89; /* Color café */
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block; /* Esto permitirá que text-align del contenedor lo centre */
}

/* Responsive design */
@media (max-width: 768px) {
    .home-main {
        flex-direction: column;
    }

    .home-hero img {
        width: 100%; /* La imagen se ajusta al 100% en dispositivos móviles */
    }

    .home-hero h1 {
        font-size: 1.5em;
    }

}
